## Maven ##
/target/

## Eclipse ##
/.classpath
/.project
/.settings/

## Icy ##
setting.xml
workspace/

## vim ##
*.swp

## Interactive tests ##
/samples/

## MacOSX
.DS_Store

bin/

## Additional icy plugins
plugins/
